<form asp-action="AddFile" asp-controller="File" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="uploadedFile">Example</label>
        <input type="file" class="form-control-file" name="uploadedFile" id="uploadedFile" />
        <input type="submit" value="загрузить">
    </div>

</form>

