@model Hacaton54.Models.DataModel.Student
<div class="container">
    <div class="row justify-content-center" style="margin-bottom: 30px">
        <h3>Редактивароние данных о студенте</h3>
    </div>
    <div class="row justify-content-center">
        <p>@ViewData["Message"]</p>
    </div>
    <form asp-action="EditStudent" asp-controller="Student" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col" style="margin: 10px">
                <label for="formGroupExampleInput">Фамилия</label>
                <input asp-for="SurName" type="text" class="form-control" placeholder="Иванов">
            </div>
            <div class="col" style="margin: 10px">
                <label for="formGroupExampleInput">Имя</label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Иван">
            </div>
            <div class="col" style="margin: 10px">
                <label for="formGroupExampleInput">Отчество</label>
                <input asp-for="Patronymic" type="text" class="form-control" placeholder="Иванович">
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin: 10px">
                <label for="formGroupExampleInput">Дата рождение</label>
                <input asp-for="BirthDate" type="date" class="form-control">
            </div>
            <div class="col" style="margin: 10px">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Пол</label>
                <select asp-for="GenderId" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <!-- <option selected>Choose...</option> -->
                    <option value="1">Мужской</option>
                    <option value="2">Женский</option>
                </select>
            </div>
            <div class="col" style="margin: 10px">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Группа</label>
                <select asp-for="GroupId" asp-items="ViewBag.AllGroup" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">

               
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin: 10px">
                <label for="formGroupExampleInput">Телефон</label>
                <input asp-for="Phone" type="tel" class="form-control">
            </div>
            <div class="col" style="margin: 10px">
                <label for="formGroupExampleInput">Домашний телефон</label>
                <input asp-for="HousePhone" type="tel" class="form-control" placeholder="">
            </div>
            <div class="col" style="margin: 10px">
                <label for="formGroupExampleInput">Email</label>
                <input asp-for="EMail" type="email" class="form-control" placeholder="hacaton54@yandex.ru">
            </div>
        </div>
        <div class="row" style="margin: 10px">
            <label for="formGroupExampleInput">Адрес проживания</label>
            <input asp-for="AdressFact" type="text" class="form-control" placeholder="г. Москва ул. Генерала Карбышева 18к1 кв.20">
        </div>
        <div class="row">
            <div class="col" style="margin: 10px">
                <label for="formGroupExampleInput">СНИЛС</label>
                <input asp-for="Snils" type="text" class="form-control">
            </div>
            <div class="col" style="margin: 10px">
                <label for="formGroupExampleInput">ИНН</label>
                <input asp-for="Inn" type="text" class="form-control">
            </div>
            <div class="col" style="margin: 10px">
                <label for="formGroupExampleInput">Мед. полис</label>
                <input asp-for="MedPolicy" type="text" class="form-control">
            </div>
        </div>


        <input type="submit" class="form-control btn btn-success btn-sm" value="Сохранить изменения" style="margin: 10px">

        <button type="button" class="form-control btn btn-primary btn-sm" style="margin: 10px">
            @Html.ActionLink("Вернуться к списку", "ListStudents", "Student", null, new { style = "color:white" })
        </button>

    </form>

</div>
