
<!-- Top menu -->
<div class="row">
    <div class="col-5">
        @Html.ActionLink("Параметры фильтрации", "FilteringStudents")
    </div>
    <div class="col">
        <button type="submit" class="btn-icon">
            <img src="~/resource/icons/left menu/student.png" width="30" height="30" />
        </button>
    </div>
    <div class="col">
        <button type="submit" class="btn-icon">
            <img src="~/resource/icons/left menu/student.png" width="30" height="30" />
        </button>
    </div>
</div>
<div class="row">
    <!-- Search form -->
    <div class="input-group md-form form-sm form-1 pl-0">
        <img class="icon-text" src="~/resource/icons/footer/email.ico" />
        <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
    </div>
</div>

<!-- Tables with students -->
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th> Id</th>
            <th scope="col">ФИО</th>
        </tr>
    </thead>
    <tbody>
      
    </tbody>

    </table>

<div class="row">
    Всего выведено записей: 450/450
</div>