
<div class="row">
    <!-- Left menu -->
    <div class="col-3">
        <div class="container leftmenu" style="">
           <div class="row header-leftmenu align-items-center justify-content-center">
                Студенты
           </div>
           <div class="row item-leftmenu justify-content-center">
                Список
           </div>
           <div class="row item-leftmenu justify-content-center">
                <button type="button" class="btn btn-primary btn-sm">Параметры фильтрации</button>
           </div>
           <div class="row item-leftmenu justify-content-center">
                Добавление
           </div>
           <div class="row item-leftmenu justify-content-center">
                <button type="button" class="btn btn-primary btn-sm">Добавить студента</button>
           </div>
           <div class="row item-leftmenu justify-content-center">
                <button type="button" class="btn btn-primary btn-sm">Добавить из Excel</button>
           </div>
           <div class="row item-leftmenu justify-content-center">
                Экспорт
           </div>
           <div class="row item-leftmenu justify-content-center">
                <button type="button" class="btn btn-primary btn-sm">Экспорт в Excel</button>
           </div>
        </div>
    </div>

    <!-- List -->
    <div class="col-9">
        
        <div class="row">
            <!-- Search form -->
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                       aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">search</button>
            </div>
        </div>

        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <!-- Tables with students -->
            <table class="table table-bordered table-striped mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th> Id</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Группа</th>
                        <th scope="col">Телефон</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Student student in Model)
                    {
                        <tr>
                            <th scope="row">@student.Id</th>
                            <th>@student.Name</th>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
       

        <!-- Count rows -->
        <div class="row">
            Всего выведено записей: 450/450
        </div>
    </div>
</div>

