<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hacaton54</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/List.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Header for all pages -->
    <header>
        <!-- Image and text -->
        <div class="container-fluid navbar-common">
            <div class="row align-items-center">
                <div class="col-3" id="navbar-brand">
                    <a href="#">
                      <img src="~/resource/icons/ks54.svg"/>
                       Колледж связи №54 
                    </a>
                </div>
                <div class="col-6">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <a class="link-menu" href="#">Студенты</a>
                            </div>
                            <div class="col text-center">
                                <a class="link-menu" href="#">Дорожная карта</a>
                            </div>
                            <div class="col text-center">
                                <a class="link-menu" href="#">Ведомости</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1">

                </div>
                <div class="col-2">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a class="link-menu" href="#">Профиль</a>
                            </div>
                            <div class="col">
                                <a class="link-menu" href="#">Выйти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Page -->
    <div class="container-fluid" style="margin-top: 30px">
           @RenderBody()
    </div>

    <!-- Footer for all pages -->
    <footer id="footer-standart">
        <div class="container">
            <div class="row">
                Техническая поддержка:
            </div>
            <div class="row">
                <img class="icon-text" src="~/resource/icons/footer/phone.ico" /> 8(977)536-26-46
            </div>
            <div class="row">
                <img class="icon-text" src="~/resource/icons/footer/email.ico" /> hacaton54@yandex.ru
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
