@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<!-- Auth form -->
<div class="container">
    <div style="margin-top: 250px" class="row justify-content-center align-items-center">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            
            <div class="row">
                <button asp-controller="User" asp-action="Registration" type="submit" class="col-sm btn btn-primary">Регистрация</button>
                <button asp-controller="User" asp-action="Authorization" type="submit" class="col-sm btn btn-primary">Войти</button>
            </div>
        </form>
    </div>
</div>
