@model Hacaton54.Models.Extensions.LoginModel
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<!-- Auth form -->
<div class="container">
    <div style="margin-top: 250px" class="row justify-content-center align-items-center">
        <form asp-action="Login" asp-controller="User" asp-anti-forgery="true">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="text" asp-for="UserName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <div class="row">
                <button type="submit" class="col-sm btn btn-primary">Войти</button>
            </div>
        </form>
    </div>
</div>
